{% extends 'base.html' %}{% load static %} {% block content %} {% autoescape on %}
<div class="pagetitle">
  <h1>Server Stats</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'show_stats' %}">Dashboard</a></li>
      <li class="breadcrumb-item active">{{server_name}}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-12">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Server Details</h5>
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="ps-3">
              <span class="text-primary small pt-1 fw-bold">Server Name:</span>
              <h4 class="text-black-50">{{server_name}}</h4>
            </div>
            <div class="ps-3">
              <span class="text-primary small pt-1 fw-bold">Server IP:</span>
              <h4 class="text-black-50">{{server_ip}}</h4>
            </div>
            <div class="ps-3">
              <span class="text-primary small pt-1 fw-bold">Current user:</span>
              <h4 class="text-black-50">{{current_user}}</h4>
            </div>
            <div class="ps-3">
              <span class="text-primary small pt-1 fw-bold">Last boot:</span>
              <h4 class="text-black-50">{{boot_time}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Stats Card -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">CPU Details</h5>
          {% for key, value in cpu_usage.items %}
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <span class="text-secondary small pt-1 fw-bold">{{key}}</span>
              <h4 class="text-black-50">{{ value }}</h4>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Stats Card End -->
    <!-- Stats Card -->
    <div class="col-xxl-4 col-md-6">

      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Ram Usage</h5>
          {% for key, value in ram_usage.items %}
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <span class="text-secondary small pt-1 fw-bold">{{key}}</span>
              <h4 class="text-black-50">{{ value }}</h4>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
    <!-- Stats Card End -->
    <!-- Stats Card -->
    <div class="col-xxl-4 col-md-6 d-flex align-items-stretch">
      <div class="card info-card sales-card w-100" style="padding-bottom: 30px;">
        <div class="card-body">
          <h5 class="card-title">Swap usages</h5>
          {% for key, value in swap_usage.items %}
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <span class="text-secondary small pt-1 fw-bold">{{key}}</span>
              <h4 class="text-black-50">{{ value }}</h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Stats Card End -->
    <!-- Stats Card -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Disk Usage</h5>
          {% for key, value in disk_usage.items %}
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <span class="text-secondary small pt-1 fw-bold">{{key}}</span>
              <h4 class="text-black-50">{{ value }}</h4>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Stats Card End -->
    <!-- Stats Card -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Network usages</h5>
          {% for key, value in network_usage.items %}
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <span class="text-secondary small pt-1 fw-bold">{{key}}</span>
              <h4 class="text-black-50">{{ value }}</h4>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Stats Card End -->
  </div>
</section>

{% endautoescape %} {% endblock %}