{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% autoescape on %}
  <style>
    p{
      color:red !important;
    }
    a{
      text-decoration: none;
    }
  </style>
    {% for server in servers %}
     <div class="card m-5 shadow-sm" style="width: 18rem;"><a href="{% url 'detail' pk=server.id %}">
          <img src="https://images.unsplash.com/photo-1558494949-ef010cbdcc31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1034&q=80" class="card-img-top" alt="aa">
          <div class="card-body">
            <h5 class="card-title">{{server.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{server.description}}</h6>
             <p>{{server.name}} - {{server.ip_address}}</p>
          </div></a>
        </div>
    {% endfor %}
  {% endautoescape %}
{% endblock %}