{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% autoescape on %}
    {% for server in servers %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{server.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{server.description}}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'detail' pk=server.id %}"">{{server.name}} - {{server.ip_address}}</a>
          </div>
        </div>
    {% endfor %}
  {% endautoescape %}
{% endblock %}